<!DOCTYPE html>
<html>
    <head>
        <title>Students</title>
        <link rel="stylesheet" type="text/css" href="static/format.css">
    </head>
    <body>

        <h1>Error Message</h1>
        {{ message }}
    </body>
</html>