<!DOCTYPE html>
<html>
    <head>
        <title>Students</title>
        <link rel="stylesheet" type="text/css" href="static/format.css">
    </head>
    <body>
        <h1>User Registration</h1>
        <form method="post" action="{{ url_for('add_user') }}">
        <table>
            <tr>
                <td>User Name:</td>
                <td><input id="uname" name="uname"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" id="upass" name="upass"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="password" id="upass2" name="upass2"></td>
            </tr>
            <tr>
                <td>Full Name:</td>
                <td><input id="fullName" name="fullName"></td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>
                    <select id="deptID" name="deptID">
                        {% for d in drows %}
                            <option value="{{ d[0] }}"> {{ d[1] }} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Register"></td>
                <td></td>
            </tr>
        </table>
        </form>
    </body>
</html>