<!DOCTYPE html>
<html>
    <head><title>Students</title></head>
    <body>
        <h1>Data about Lanzhou Students</h1>
        The actual data will go here...
        <ul>
        {% for row in data %}
            <li>{{ row[0] }}</li>
        {% endfor %}
        </ul>
    </body>
</html>