<!DOCTYPE html>
<html>
    <head><title>Test2</title></head>
    <body>
        Will you see this on the web?
        Yes, the template works!!
        <ol>
        {% for row in data %}
            <li>{{ row[0] }}</li>
        {% endfor %}
        </ol>
    </body>
</html>