<!DOCTYPE html>
<html>
    <head>
        <title>Student Records</title>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename = 'style.css') }}" >
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">-->
    </head>
    <body>
        <h1>Students</h1>
        <!--Here is a list of student records...-->
        <table>
            <tr>
                <th>Category</th>
                <th>Choice</th>
                <th>Like Noodle?</th>
                <th>Counts</th>
            </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>