<!DOCTYPE html>
<html>
    <head>
        <title>Students</title>
        <link rel="stylesheet" type="text/css" href="static/format.css">
    </head>
    <body>
        <h1>Data about Lanzhou Students</h1>
        <table>
            <tr>
                <th>Gender</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Province</th>
                <th>Like Noodle?</th>
                <th></th>
            </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <form method="post" action="{{ url_for('insert_student') }}">
            <tr>
            <td><input id="gender" name="gender"></td>
            <td><input id="height" name="height"></td>
            <td><input id="weight" name="weight"></td>
            <td><input id="province" name="province"></td>
            <td><input id="noodle" name="noodle"></td>
                <td><input type="submit" value="Save"></td>
            </tr>
        </form>
        </table>
    </body>
</html>